
<div id="userMap">
<div class="content"><a href="16s-rRNA-3-1.html"><div class="box box1">OTU picking</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="16s-rRNA-3-2.html"><div class="box box2">ASV prediction</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="16s-rRNA-3-3.html"><div class="box box3">Classification</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="16s-rRNA-3-4.html"><div class="box box4">Alignment</div></a></div>
<div class="clearfix"></div>

</div>
