
<div id="userMap">
<div class="content"><a href="Variant-Calling-3-1.html"><div class="box box1">Alignment and De-duplication</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="Variant-Calling-3-2.html"><div class="box box2"> Local realignment around indels</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="Variant-Calling-3-3.html"><div class="box box3"> Base quality score recalibration</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="Variant-Calling-3-4.html"><div class="box box4"> Calling the variants</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="Variant-Calling-3-5.html"><div class="box box5">Statistical Filtering </div></a></div>



<div class="clearfix"></div>

</div>
