
<div id="userMap">
<div class="content"><a href="16s-rRNA-2-1.html"><div class="box box1">QC plots & stats</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="16s-rRNA-2-2.html"><div class="box box2">Trim & filter reads</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="16s-rRNA-2-3.html"><div class="box box3">Paired read stitching</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="16s-rRNA-2-4.html"><div class="box box4">Chimera detection</div></a></div>
<div class="clearfix"></div>

</div>
